{% extends "base.html" %}

{% block content %}
<h2>Error: {{ code }}</h2>
<p>We were unable to process this calculation because: {{ message }}.</p>
<p>Please <a href="{% url 'rpc-index' %}">try again</a>.</p>
{% endblock %}