{% extends "base.html" %}

{% block content %}
<p>Please enter A and B to calculate their sum:</p>
<form action="{% url 'rpc-index' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}