{% extends "base.html" %}

{% block content %}
<h2>Success!</h2>
<p>Calculation result: {{ a }} {{ function }} {{ b }} <strong>= {{ result }}</strong></p>
<p>Calculated in {{ elapsed_time }} seconds.</p>
<p><a href="{% url 'rpc-index' %}">Try again</a></p>
{% endblock %}