<!DOCTYPE html>
<html>
<head>
  <title>Django RPC implementation via RabbitMQ</title>
</head>
<body>
  <h1>Django RPC implementation via RabbitMQ</h1>
  {% block content %}content{% endblock %}
</body>
</html>